<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/assets/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/assets/bootstrap.css">

    <title>Watch</title>
</head>

<body>
    <div class="container">
        <h1>Watch {{file_name}}</h1>
        <div class="row">
            <div class="col">
                <video controls preload="auto" class="video-js vjs-fill">
                    <source src="/files/{{file_path}}" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <script src="/static/assets/jquery.slim.js"></script>
    <script src="/static/assets/bootstrap.bundle.js"></script>
    <script src="/static/assets/video.js"></script>
</body>

</html>